body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, #ffd6e7, #ff8fc7);
}
h1{
    text-align: center;
    top: 100px;
 color: pink;}
 h3{
    text-align: center;
    color: rgba(23, 20, 25, 0.473);
    top: 150px;
}                       

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    width: 200px;
    padding: 10px;

}
#cal{
    background-color: pink;
    position: relative;
    top:25px;
    left: 210px;
    transform: translateX(-50%);
    padding: 10px 140px;
    border-radius: 5px;
    border: 1px solid rgb(224, 102, 214);
    font-family: Arial, sans-serif;
    font-size: 17px;
    
}

 .cc{
    background-color: white;
    width: 450px;
    min-height: 400px;

    padding: 50px;

    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);

    text-align: center;
}
.result-box{
    margin-top: 55px;

    background-color: #fff0f5;

    height: 300px;

    border-radius: 20px;

    border: 2px solid #ffc0cb;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
